.banner{
    background-color: #000;
    padding-top: 10px;
    color: #fff;
}
.navbar{
    padding-top: 10px;
    margin: 0px;
}
navbardiv{
    border: 1px dashed orange;
}
.navbar-wrapper{
    padding: 0px;
    margin: 0px;
}
.nav-menu{
    
}